[pull]
	rebase = true
[user]
	email = decai.wang@foxmail.com
	name = evilolipop
[core]
	editor = vim
[init]
	defaultBranch = main
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[fetch]
	prune = true
[push]
	followTags = true
